:root {
    font-size: 16px;
    --text-primary: #57a0d2; 
    --text-secondary: #4682b4;
    --bg-primary: #008ECC;
    --bg-secondary: #4682b4;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {
    width: 0.25rem;
}
body ::-webkit-scrollbar-track {
    background: black;
}
body::-webkit-scrollbar-thumb {
    background:cadetblue;
}
main {
    margin-left: 5rem;

}
.navbar {
    width: 5rem;
    height: 100vh;
    position:fixed;
    background-color: var(--bg-primary);
}
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-item:last-child {
    margin-top: auto;
}