:root {
    font-size: 16px;
    --text-primary: #8bc2e7; 
    --text-secondary: #376183;
    --bg-primary: #008ECC;
    --bg-secondary: #80c6ff;
    list-style-type: none;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {
    width: 0.25rem;
}
body ::-webkit-scrollbar-track {
    background: black;
}
body::-webkit-scrollbar-thumb {
    background:cadetblue;
}
main {
    margin-left: 5rem;
}
.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    margin-top: 0;
    list-style-type: none;
}
.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
